<div class=container"><br>
  <div class="row align-items-center justify-content-center">
    <div class="col-md-4">
      <form action='' method="post" role="form">
        {{ form.csrf_token }}
        <div class="form-group">

          <label for="title">Title:</label>
          {{ form.title(class='form-control', value=request.form['title'] or post.title) }}
          {% if form.title.errors %}
          <ul class="errors">
            {% for error in form.title.errors %}
            <li>{{ error }}</li>
            {% endfor %}
          </ul>
          {% endif %}

          <label for="body">Body:</label>
          {{ ckeditor.create(value=request.form['body'] or post.body, name='body') }}
          {{ ckeditor.load() }}
          {% if form.body.errors %}
          <ul class="errors">
            {% for error in form.body.errors %}
            <li>{{ error }}</li>
            {% endfor %}
          </ul>
          {% endif %}

          <label for="body">Author:</label>
          {{ form.author(class='form-control', value=request.form['author'] or post.author) }}
          {% if form.author.errors %}
          <ul class="errors">
            {% for error in form.author.errors %}
            <li>{{ error }}</li>{% endfor %}
          </ul>
          {% endif %}

          <center>
            {{ form.submit(class='btn btn-primary btn-lg mt-2') }}
          </center>


        </div>

      </form>

    </div>
  </div>
</div>