{% extends 'base.html' %}
{% block content %}
{% for post in posts %}
<div class="card mt-5">
  <div class="card-body">
    <h5 class="card-title">{{ post['title'] }}</h5>
    <p class="card-text">
    <p class="body">{{ post['body'] | safe | truncate(256, True)}}</p>
    </p>
    <p class="card-text">by {{ post['author'] }} on {{ post['created_date'].strftime('%Y-%m-%d') }}</p>
    <a href="{{ url_for('sf.post_detail', slug=post['slug']) }}" class="btn btn-primary">Read More</a>
    {% if current_user.is_authenticated %}

    <div class="btn-group mt-2">
      <form action="{{ url_for('sf.update_post', slug=post['slug']) }}" method="get">
        <input class="btn btn-primary btn-lg" type="submit" value="Edit">
      </form>
      <form action="{{ url_for('sf.delete_post', slug=post['slug']) }}" method="post">
        <input class="btn btn-danger btn-lg" type="submit" value="Delete" onclick="return confirm('Are you sure?');">
      </form>
    </div>
    {% endif %}

  </div>
</div>
{% endfor %}

{% endblock %}