{% extends "base.html" %}
{% block content %}
<div class="container">

  {% include "_flash_errors.html" %}

  <div class="row align-items-center justify-content-center">
    <div class="col-md-2 my-4 bg-light">
      <center>
        <h1 class="mt-2">Log In</h1>
      </center>
      <form method="POST" action="/login">
        {{ form.csrf_token }}
        <div class="form-group">

          {{ form.username(class='form-control my-2', placeholder='admin username') }}
          {% if form.username.errors %}
          <ul class="errors">
            {% for error in form.username.errors %}
            <li>{{ error }}</li>
            {% endfor %}
          </ul>
          {% endif %}

          {{ form.password(class='form-control my-2', placeholder='admin password') }}
          {% if form.password.errors %}
          <ul class="errors">
            {% for error in form.password.errors %}
            <li>{{ error }}</li>
            {% endfor %}
          </ul>
          {% endif %}

          <center>
            {{ form.submit(class='btn btn-primary btn-md my-2') }}
          </center>

        </div>
      </form>
    </div>
  </div>
  {% endblock %}
</div>